@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', monospace;
    font-size: 12px;
    padding: 6px;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body,
h1 {
    margin: 0;
}

button {
    outline: none;
    border: 3px solid white;
    border-radius: 6px;
    background: none;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 20px;
    cursor: pointer;
}

button {
    background: black;
    color: white
}

button.start {
    background-color: rgb(26, 227, 200);
    color: black;
    width: 120px;
}

button:hover {
    background: white;
    color: black;
}

.game-container {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    gap: 20px;
}

.game-container canvas {
    border: 3px solid white;
}

.game-tools {
    display: flex;
    align-items: center;
    gap: 20px;
}

.game-tools .game-speed-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.game-info {
    max-width: 800px;
}

@media screen and (max-width: 1024px) {
    .game-tools {
        flex-direction: column;
    }
}

a.github {
    /* align to bottom, filling up remaining flex space */
    text-decoration: none;
    line-height: 32px;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    flex: 1;
    align-items: end;
}